#main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7em;
}

#main-page-intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#main-page-intro-container hgroup {
    width: 53%;
}

#main-page-image-container {
    position: relative;
    display: flex;
    width: 42%;
    justify-content: center;
    align-items: center;
}

#main-img {
    width: 80%;
    animation: bounce 2s linear infinite;
}

#main-page-image-container .sub-img {
    width: 17%;
    position: absolute;
}

#main-page-image-container .top-left {
    width: 12%;
    top: 7%;
    left: 10%;
    animation: grow-shrink 2s linear infinite;
}

#main-page-image-container .top-right {
    top: 10%;
    right: 13%;
    animation: bounce-swing 2s linear infinite;
}

#main-page-image-container .bottom-left {
    bottom: 45%;
    left: 2%;
    animation: rotate-left 2s linear infinite;
}

#main-page-image-container .bottom-right {
    bottom: 45%;
    right: 10%;
    animation: rotate-right 2.5s linear infinite;
}

#project-thumbnail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#project-thumbnail-container img {
    width: 40%;
    border-radius: 3em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#main-page-container button {
    padding: 1.5em 2.5em;
    border-radius: 10em;
}



