@import url("animations.css");
@import url("font.css");

:root {
    --background-color: #faf7fa;
    --main-color: #f09da8;
    --font-size-base: 16px;
    --font-primary: 'Karla';
    --font-input: 'Indie Flower';
    --text-primary-color: #202020;
}

body {
    background-color: var(--background-color, white);
    font-size:  var(--font-size-base, 16px);
    font-family: var(--font-primary, Arial, sans-serif);
    color: var(--text-primary-color, black);
    padding: 2rem;
}

#logo {
    width: 8vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header audio {
    align-self: flex-end;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header nav a.nav-link {
    text-decoration: none;
    padding: 0.7em 1em;
}

header nav a.nav-link:hover {
    background-color: white;
    border-radius: 10em;
}

header nav a.nav-link:visited {
    color: inherit;
}

header nav a.nav-link:active {
    transform: scale(0.9);
}

header search input {
    width: 20vw;
    height: 2.5rem;
    padding: 0.1em 3em 0.1em 1em;
    border: 2px solid var(--main-color, pink);
    border-radius: 50px;
    background: url('../assets/search.png') no-repeat right 1em center;
    background-size: 1.5em;
}

input {
    box-sizing: border-box;
    font-family: 'Indie Flower', 'Comic Sans MS', cursive;
    font-size: 1em;
    color: var(--font-primary, black);
    outline: none;
}

input:focus {
    border-width: 3px;
    background: url('../assets/search-active.png') no-repeat right 1em center;
    background-size: 1.3em;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-flow: row nowrap;
    list-style: none;
    gap: 2em;
}

footer ul li a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

my-status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    border-radius: 100px;
    font-family:'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 0.95rem;
    font-weight: bold;
    color: #202020;
    text-transform: capitalize;
    gap: 10px;
    margin: 3px;
}

my-status[data-status="looking"] {
    background-color: #cef5c6
}

my-status[data-status="open"] {
    background-color: #f7e1f7;
}

my-status[data-status="freelance"] {
    background-color: #ffeebf;
}

my-status[data-status="collab"] {
    background-color: #c8f7f7;
}

my-status[data-status="looking"]::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../assets/looking.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

my-status[data-status="open"]::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../assets/open.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

my-status[data-status="freelance"]::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../assets/freelance.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

my-status[data-status="collab"]::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("../assets/collab.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}